ipython
bpython
tox
coverage
allianceauth-app-utils>=1.31.0a1,<2
factory_boy
django-debug-toolbar
# aa-taskmonitor

allianceauth-corptools>=3.0.0b4
# django-eveuniverse
# aa-memberaudit
aa-miningtaxes
# aa-moonmining
# aa-structures>=4.0.0b1
allianceauth-afat
aa-market-manager
aa-contacts
allianceauth-securegroups