ipython
bpython
tox
coverage
factory_boy
django-debug-toolbar
aa-taskmonitor

aa-corpstats-two
allianceauth-corptools
django-eveuniverse
aa-memberaudit
aa-miningtaxes
aa-moonmining
aa-moonstuff
aa-structures>=2.11.0
allianceauth-afat
aa-market-manager
aa-contacts
allianceauth-securegroups