ipython
bpython
tox
coverage
allianceauth-app-utils
factory_boy
django-debug-toolbar
# aa-taskmonitor

allianceauth-corptools
django-eveuniverse
aa-memberaudit
aa-miningtaxes
aa-moonmining
aa-structures
allianceauth-afat
aa-market-manager
aa-contacts
allianceauth-securegroups